<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block css %} {% endblock%}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        My Django Practice Site
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        {%if user.is_authenticated %}
            <a href="{% url 'homepage' %}">home</a> |
            <a href="{% url 'posts:post_list' %}">posts</a> |
            <a href="{% url 'aboutpage' %}">about</a> |
            <a href="{% url 'contactpage' %}">contact</a> |
            <a href="{% url 'api:postlistcreate'%}">api</a> |
            <form action="{%url 'users:user_logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">
            Logout
                </button> |
             </form>
             
        {% else %}
            <a href="{%url 'homepage' %}">home</a> |
            <a href="{%url 'users:user_register' %}">signup</a> |
            <a href="{%url 'users:user_login' %}">login</a>|
            <a href="{%url 'aboutpage' %}">about</a> |
            <a href="{% url 'contactpage' %}">contact</a> |
            
        {%endif%}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>